@import 'variables';

.preloader {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $cod_gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 700ms ease 0ms, visibility 0ms linear 700ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
  &.visible {
    transition: opacity 0ms linear 0ms, visibility 0ms linear 0ms;
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  
    div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $torch_red;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
      &:nth-child(1) {
        left: 6px;
        animation: preloader1 0.6s infinite;
      }
  
      &:nth-child(2) {
        left: 6px;
        animation: preloader2 0.6s infinite;
      }
  
      &:nth-child(3) {
        left: 26px;
        animation: preloader2 0.6s infinite;
      }
  
      &:nth-child(4) {
        left: 45px;
        animation: preloader3 0.6s infinite;
      }
    }
  }
}
  
@keyframes preloader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes preloader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

@keyframes preloader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
  