{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "parser": "angular",
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "jsxBracketSameLine": true
}
