@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap-grid.scss";

.footer {
  margin-top: 140px;
  position: relative;

  &::after {
    @extend %background--right;
    width: 448px;
    height: 407px;
    background-image: url("~src/assets/images/circles.svg");
    top: 0;
    transform: translate(50%, -40%);
  }

  &__text-wrapper {
    margin-bottom: 100px;
  }

  &__text {
    font-size: 65px;
    font-weight: bold;
    display: block;
    line-height: 80px;

    > a {
      color: $torch_red;
    }
  }

  &__copyright-social-wrapper {
    margin-bottom: 48px;
    position: relative;

    &::before {
      @extend %background;
      right: -20px;
      top: -80px;
      width: 245px;
      height: 255px;
      background-image: url("~src/assets/images/asterisks.svg");
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    color: $dusty_gray;
    font-weight: normal;
  }

  &__social-list-item {
    display: inline-block;

    &:not( :last-child ) {
      margin-right: 33px;
    }
  }

  &__social-link {
    color: $white;

    body.about & {
      color: $cod_gray;
    }
  }

  @include media-breakpoint-down(sm) {
    &::after {
      display: none;
    }

    &__text-wrapper {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        right: -80px;
        top: -130px;
        width: 245px;
        height: 255px;
        transform: scale(.8);
        background-image: url("~src/assets/images/asterisks.svg");
      }
    }

    &__text {
      font-size: 13.8vw;
      line-height: 1.2em;

      > a {
        display: block;
        word-break: break-all;
        font-size: 16vw;
      }
    }

    &__copyright-social-wrapper {
      &::before {
        display: none;
      }
    }

    &__social-wrapper {
      display: none;
    }
  }
}
