<footer class="footer">
  <div class="container">
    <div class="footer__text-wrapper">
      <p class="footer__text">Have a innovative project?</p>
      <p class="footer__text">Let's talk! <a href="mailto:hello@brunowork.co" target="_blank">hello@brunowork.co</a></p>
    </div>
    <div class="footer__bottom-info-wrapper">
      <div class="footer__copyright-social-wrapper row">
        <div class="footer__copyright-wrapper col-md-4">
          <h4 class="footer__subtitle">Bruno Alves Fernandes</h4>
          <small class="footer__text-link d-block d-md-none">Instagram @sevla_onurb</small>
          <small class="footer__text-link">All Rights Reserved {{ year }}</small>
        </div>
        <div class="footer__social-wrapper col-md-8">
          <h4 class="footer__subtitle">Let's connect and talk!</h4>
          <ul class="footer__social-list">
            <li class="footer__social-list-item">
              <a href="#" class="footer__social-link">LinkedIn</a>
            </li>
            <li class="footer__social-list-item">
              <a href="#" class="footer__social-link">Medium</a>
            </li>
            <li class="footer__social-list-item">
              <a href="#" class="footer__social-link">Dribbble</a>
            </li>
          </ul>
        </div>
      </div>
    
      <div class="footer__logo-more-wrapper row">
        <div class="footer__copyright-wrapper col-md-3">
          <img src="assets/images/brunowork.svg" alt="Logotipo Brunowork" class="footer__logo-image">
        </div>
        <div class="footer__social-wrapper col-md-8 offset-md-1">
          <h4 class="footer__subtitle">Want more?</h4>
          <ul class="footer__social-list">
            <li class="footer__social-list-item">
              <a href="#" class="footer__social-link">About</a>
            </li>
            <li class="footer__social-list-item">
              <a href="#" class="footer__social-link">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
