@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap-grid.scss";

.home {
  &__title-wrapper {
    position: relative;

    &::before {
      @extend %background--right;
      top: 160px;
      width: 393px;
      height: 477px;
      background-image: url("~src/assets/images/blocks.svg");
    }
  }

  &__title {
    font-size: 10.5vw;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
  }

  &__bio-wrapper {
    position: relative;
    margin-bottom: 178px;

    &::before {
      @extend %background--left;
      top: 160px;
      width: 300px;
      height: 477px;
      background-image: url("~src/assets/images/blocks-2.svg");
      transform: translateX(-50%);
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
  }

  &__social-link {
    font-size: 30px;
    color: $wild_sand;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bio-text {
    font-size: 33px;
    line-height: 1.4em;

    &:last-of-type {
      margin-bottom: 44px;
    }
  }

  &__articles-list {
    margin-top: 0;
    padding-left: 0;
  }

  &__article-list-item {
    margin-bottom: 230px;
    position: relative;

    &:first-child {
      &::before,
      &::after {
        display: none;
      }
    }

    &:nth-child(even) {
      &::before {
        @extend %background--right;
        width: 300px;
        background-image: url("~src/assets/images/blocks-2.svg");
        top: 0;
        height: 324px;
        transform: translate(65%, -50%);
      }

      &::after {
        @extend %background--left;
        width: 448px;
        background-image: url("~src/assets/images/circles.svg");
        top: 50%;
        height: 407px;
        transform: translate(-105%, -50%);
      }
    }

    &:nth-child( odd ) {
      &::before {
        @extend %background--right;
        top: 50%;
        width: 393px;
        height: 477px;
        background-image: url("~src/assets/images/blocks.svg");
        transform: translate(91%, -50%);
      }

      &::after {
        @extend %background--left;
        width: 240px;
        background-image: url("~src/assets/images/wormhole.svg");
        bottom: 0;
        height: 330px;
        transform: translate(-115%, 50%);
      }
    }
  }

  &__dribble-shots-title {
    margin-bottom: 50px;
    font-size: 40px;

    > span {
      color: $torch_red;
      text-transform: uppercase;
    }
  }

  &__dribble-shots-list {
    display: flex;
    margin: 0 -8.5px;
    flex-wrap: wrap;
  }
  
  &__dribble-shots-list-item {
    margin-bottom: 17px;
    padding: 0 8.5px;
    flex-basis: 50%;
  }

  &__dribble-shots-wrapper {
    position: relative;
    display: block;

    > img {
      width: 100%;
    }
  }

  &__dribble-shots-hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__dribble-shots-hover-text {
    color: $torch_red;
    font-size: 22px;
  }

  @include media-breakpoint-down(lg) {
    &__bio-text,
    &__social-link {
      font-size: 24px;
    }

    &__article-list-item {
      margin-bottom: 160px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      line-height: 1em;
      font-size: 19.5vw;
    }
    
    &__title-wrapper {
      &:before {
        top: 0;
        opacity: .4;
      }
    }

    &__social-wrapper {
      display: none;
    }

    &__bio-wrapper {
      margin-bottom: 160px;

      &::before {
        top: auto;
        opacity: .4;
        bottom: 0;
        transform: translate(-55%, 60%) scale(.8);
      }
    }

    &__bio-text {
      font-size: 20px;
    }

    &__article-list-item {
      &:nth-child(even)::before,
      &:nth-child(odd)::before {
        display: none !important;
      }
      
      &:nth-child(even)::after,
      &:nth-child(odd)::after {
        transform: translate(-60%, 70%) scale(.45);
        left: 0;
        top: auto;
        bottom: 0;
        right: auto;
      }
    }

    &__dribble-shots-title {
      font-size: 38px;

      > span {
        display: block;
      }
    }

    &__dribble-shots-list {
      margin: 0 -24px;
    }

    &__dribble-shots-list-item {
      flex-basis: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.article {
  &:not( :last-child ) {
    margin-bottom: 180px;
  }

  &__text-column,
  &__slider-column {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 22px;
    font-size: 55px;
    max-width: 90%;

    > span {
      color: $torch_red;
    }
  }

  &__subtitle {
    font-size: 33px;
    line-height: 1.4em;
    margin-bottom: 25px;
    font-weight: normal;
  }

  &__text,
  &__blockquote {
    line-height: 40px;
    margin-bottom: 35px;
  }

  &__blockquote {
    font-size: 26px;
    margin: 0 0 45px;
    padding-left: 25px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: $torch_red;
    }
  }

  &__box-subtitle {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 17px;
  }

  &__role-team-item {
    font-size: 24px;
    color: $dusty_gray;
    line-height: 30px;
  }

  &__slider-column {
    padding-left: 76px;
  }

  &__slider-wrapper {
    background-color: rgba(46, 46, 46, .2);
    padding: 100px 20px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &--mobile {
      display: none;
    }
  }

  &__slider-image {
    margin: 0 auto;
    max-width: 455px;
  }

  &__slider-item {
    video {
      height: auto;
    }
  }

  &__video-container {
    margin: 0 auto;
  }

  &__read-full-case {
    margin-left: auto;
  }

  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__text,
    &__blockquote {
      font-size: 20px;
    }

    &__box-subtitle {
      font-size: 20px;
    }

    &__role-team-item {
      font-size: 18px;
    }

    &__slider-image,
    &__video-container,
    &__slider-item video {
      max-width: 332px;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    &__title {
      font-size: 38px;
    }

    &__subtitle {
      margin-bottom: 40px;
    }

    &__role-wrapper,
    &__team-wrapper {
      display: flex;
    }

    &__box-subtitle {
      flex-basis: 100px;
    }

    &__slider-column {
      display: none;
    }

    &__slider-wrapper {
      padding: 35px 25px;

      &--mobile {
        display: flex;
        height: auto;
        margin-bottom: 40px;
      }
    }

    &__slider-image,
    &__video-container,
    &__slider-item video {
      max-width: 100%;
    }
  }
}

.tns {
  &-controls {
    margin: 50px auto 0;
    background-color: $mine_shaft;
    padding: 12px 14px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 160px;

    &::before {
      content: "Assets";
      color: $white;
      font-size: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
    }

    > button {
      background-color: transparent;
      border: none;
      font-size: 0;

      &::after {
        content: "";
        background-image: url("../../../assets/images/arrow.svg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 24px;
        height: 16px;
        display: block;
        margin-left: 25px;
        transition: transform 300ms ease;
      }

      &:hover {
        &::after {
          transform: translateX(5px);
        }
      }

      &[data-controls="prev"] {
        transform: rotate(-180deg);
      }
    }

  }
}
