<main class="home" *ngIf="content">
  <div class="home__title-wrapper">
    <div class="container">
      <h1 class="home__title text-with-square-dot" [innerHTML]="content['page_title'][0]['text']"></h1>
    </div>
  </div>
  <div class="home__bio-wrapper">
    <div class="container">
      <div class="row">
        <div class="home__social-wrapper col-md-4">
          <h3 class="home__social-title page-subtitle">Let's be friends.</h3>
          <ul class="home__social-list">
            <li class="home__social-list-item">
              <a href="https://www.linkedin.com/in/bruno-alves-fernandes" target="_blank" class="home__social-link">LinkedIn</a>
            </li>
            <li class="home__social-list-item">
              <a href="https://medium.com/@brunoalvesfernandes/following" target="_blank" class="home__social-link">Medium</a>
            </li>
            <li class="home__social-list-item">
              <a href="https://dribbble.com/brunoaffx" target="_blank" class="home__social-link">Dribbble</a>
            </li>
          </ul>
        </div>
        <div class="home__bio-text-wrapper col-md-7 offset-md-1">
          <h3 class="home__bio-title page-subtitle">Bruno Alves Fernandes</h3>
          <div class="home__bio-text-wrapper" *ngFor="let text of content['bio_description']">
            <p class="home__bio-text" [innerHTML]="text['text']"></p>
          </div>
          <a [routerLink]="['/about']" class="home__bio-read-more read-more">Full bio</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home__projects-wrapper">
    <div class="container">
      <ol class="home__articles-list">
        <li class="home__article-list-item" *ngFor="let article of content['body']; let i = index;">
          <app-article *ngIf="article['slice_type'] == 'articles-list'" [content]="article" [index]="i"></app-article>
        </li>
      </ol>
    </div>
  </div>

  <div class="home__dribble-shots">
    <div class="container">
      <h2 class="home__dribble-shots-title"><span>Latest</span> Dribble Shots</h2>
    </div>
    <div class="container" *ngFor="let item of content['body']">
      <ul class="home__dribble-shots-list row" *ngIf="item['slice_type'] == 'dribble_shots'">
        <li class="home__dribble-shots-list-item col-md-6" *ngFor="let shot of item['items']">
          <a [href]="shot['dribble_project_link']['url']" class="home__dribble-shots-wrapper" *ngIf="shot['dribble_image']['dimensions']">
            <div class="home__dribble-shots-hover">
              <span class="home__dribble-shots-hover-text read-more">view on dribble</span>
            </div>
            <img 
              [src]="shot['dribble_image']['url']" 
              [alt]="shot['dribble_image']['alt']"
              [width]="shot['dribble_image']['dimensions']['width']"
              [height]="shot['dribble_image']['dimensions']['height']">
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
