@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap-grid.scss";

.home {
  &__title-wrapper {
    position: relative;

    &::before {
      @extend %background--right;
      top: 160px;
      width: 393px;
      height: 477px;
      background-image: url("~src/assets/images/blocks.svg");
    }
  }

  &__title {
    font-size: 144px;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
  }

  &__bio-wrapper {
    position: relative;
    margin-bottom: 178px;

    &::before {
      @extend %background--left;
      top: 160px;
      width: 393px;
      height: 477px;
      background-image: url("~src/assets/images/blocks-2.svg");
      transform: translateX(-50%);
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
  }

  &__social-link {
    font-size: 22px;
    color: $wild_sand;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bio-text {
    &:last-of-type {
      margin-bottom: 44px;
    }
  }

  &__articles-list {
    margin-top: 0;
    padding-left: 0;
  }

  &__article-list-item {
    margin-bottom: 230px;
  }

  @include media-breakpoint-down(md) {
    &__title {
      font-size: 20vw;
    }

    &__social-wrapper {
      display: none;
    }

    &__bio-wrapper {
      margin-bottom: 160px;

      &::before {
        top: auto;
        bottom: 0;
        transform: translate(-55%, 60%)
      }
    }

    &__bio-text {
      font-size: 20px;
    }
  }
}
