<header class="header row">
  <a [routerLink]="['/']" class="header__logo col-md-auto">
    <img src="assets/images/brunowork.svg" alt="Logotipo Brunowork" class="header__logo-image">
    Brunowork.co
  </a>
  <nav class="header__menu col-md-auto">
    <ul class="header__menu-list">
      <li *ngFor="let link of headerLinks" class="header__menu-item">
        <a
          *ngIf="!link.url.includes('//') && !link.url.includes('mailto')"
          [routerLink]="link.url"
          [title]="link.title"
          routerLinkActive="active"
          class="header__link">
          {{ link.label }}
        </a>
        <a
          *ngIf="link.url.includes('//') || link.url.includes('mailto')"
          [href]="link.url"
          [title]="link.title"
          target="_blank"
          class="header__link">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>
