@import "variables";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 84px;

  &__logo {
    font-size: 0;
  }

  &__menu {
    margin-left: auto;
  }

  &__link {
    color: $white;
    position: relative;

    &:not( :first-child ) {
      margin-left: 26px;
    }

    &:not( :last-child ) {
      margin-right: 26px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      border-bottom: solid 2px $torch_red;
      display: block;
      width: 0;
      transition: width 300ms ease;
    }

    &.active,
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
