<header class="header row">
  <a [routerLink]="['/']" class="header__logo col-md-auto">
    <img src="assets/images/brunowork.svg" alt="Logotipo Brunowork" class="header__logo-image">
    Brunowork.co
  </a>
  <nav class="header__menu col-md-auto">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      class="header__link">
      all works
    </a>
    <a
      [routerLink]="['/about']"
      routerLinkActive="active"
      class="header__link">
      about
    </a>
    <a
      href="https://medium.com/@brunoalvesfernandes/highlights"
      target="_blank"
      class="header__link">
      articles
    </a>
    <a
      href="mailto:hello@brunowork.co"
      class="header__link">
      hello@brunowork.co
    </a>
  </nav>
</header>
