@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap-grid.scss";

.header {
  position: absolute;
  padding: 60px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $cod_gray;
  transition: all 300ms ease;

  .about & {
    background: $alabaster;
  }
  
  .row {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 0;
    position: relative;
    z-index: 3;
  }

  &__menu {
    margin-left: auto;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    position: relative;

    &:not( :first-child ) {
      margin-left: 32px;
    }

    &:not( :last-child ) {
      margin-right: 32px;
    }

  }
  
  &__link {
    color: $white;
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      border-bottom: solid 2px $torch_red;
      display: block;
      width: 0;
      transition: width 300ms ease;
    }
  
    &.active,
    &:hover {
      &::after {
        width: 100%;
      }
    }

    body.about & {
      color: $cod_gray;
    }
  }

  &__mobile-menu-opener-wrapper {
    margin: 0 15px 0 auto;
    display: none;
  }

  &__mobile-menu-opener {
    width: 48px;
    height: 48px;
    font-size: 0;
    position: relative;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    z-index: 2;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform-origin: center;
      top: 50%;
      display: block;
      width: 40px;
      height: 1px;
      transition: transform 300ms ease;
      background-color: $white;

      .about & {
        background-color: $cod_gray;
      }
    }

    &:before {
      transform: translate(-50%, -5px);
    }

    &:after {
      transform: translate(-50%, 5px);
    }
  }

  &__mobile-menu-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 25px 60px;
    height: 100%;
  }

  &__mobile-menu-item,
  &__mobile-menu-footer {
    opacity: 0;
    transition: all 100ms ease;
    transform: translateX(-40px);
  }

  &__mobile-link {
    color: $white;
    font-size: 40px;
    font-weight: 500;
    padding: 17px 0;
    text-transform: capitalize;
    display: block;

    .about & {
      color: $cod_gray;
    }
  }

  &__mobile-menu-footer-link {
    color: $torch_red;
    font-weight: 900;
    font-size: 30px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
    position: fixed;
    padding: 32px 0;
    height: 111px;
    overflow: hidden;
    
    &.sticky {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.51);
      padding: 15px 0;
      height: 77px;
    }

    &.mobile-menu-opened {
      height: 100vh;

      &::before {
        visibility: visible;
        opacity: .66;
        transition: visibility 0ms linear 0ms, opacity 300ms ease 200ms;
      }
      
      .row,
      .container {
        height: 100%;
      }

      .row {
        align-items: flex-start;
      }

      .header {
        &__mobile-menu-item,
        &__mobile-menu-footer {
          opacity: 1;
          transform: translateX(0);
          $delay: 350;

          &:nth-child(1) {
            transition-delay: #{$delay}ms;
          }
          
          &:nth-child(2) {
            transition-delay: #{$delay + (50 * 1)}ms;
          }
          
          &:nth-child(3) {
            transition-delay: #{$delay + (50 * 2)}ms;
          }
          
          &:nth-child(4) {
            transition-delay: #{$delay + (50 * 3)}ms;
          }
        }

        &__mobile-menu-footer {
          transition-delay: 550ms !important;
        }
      }
    }

    &__logo-image {
      width: 47px;
      height: 47px;
    }

    &__menu {
      display: none;
    }

    &__mobile-menu-opener-wrapper {
      display: flex;
    }
    
    &__mobile-menu-opener {
      .mobile-menu-opened & {
        background-color: rgba(13, 13, 13, .3);
        &:before {
          transform: translateX(-50%) rotate(-45deg);
        }
        
        &:after {
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }

    &__mobile-menu-wrapper {
      display: flex;

      .mobile-menu-opened & {
        visibility: visible;
      }
    }
  }
}
