<article class="article row">
  <div class="article__text-column col-lg-4">
    <div class="article__hgroup">
      <h1 class="article__title"><span>{{ index + 1 }}.</span> {{ content.primary.article_title[0].text }}</h1>
      <h2 class="article__subtitle">{{ content.primary.article_subtitle[0].text }}</h2>
    </div>
    <div class="article__slider-wrapper article__slider-wrapper--mobile">
      <ul class="article__slider-list">
        <li class="article__slider-item" *ngFor="let slide of content.items">
          <div *ngIf="slide.slide_video.url" class="article__video-container">
            <video
              *ngIf="!isIosDevice"
              width="290"
              height="576"
              [poster]="slide.slide_image.url"
              autoplay
              loop
              muted
              playsinline>
              <source [src]="slide.slide_video.url">
            </video>
            <picture *ngIf="isIosDevice">
              <source 
                [srcset]="slide.slide_video.url" 
                type="video/mp4">
              <img 
                *ngIf="slide.slide_image?.url" 
                [src]="slide.slide_image.url" 
                [alt]="slide.slide_image.alt">
            </picture>
          </div>
          <img
            *ngIf="slide.slide_image.url && !slide.slide_video.url"
            [src]="slide.slide_image.url"
            [width]="slide.slide_image.dimensions.width / 2"
            [height]="slide.slide_image.dimensions.height / 2"
            [alt]="slide.slide_image.alt"
            class="article__slider-image">
        </li>
      </ul>
      <!-- <nav class="article__slider-controls">
        <button class="article__slider-button article__slider-button--prev" (click)="previousSlide($event)">Previous slide</button>
        <span class="article__slider-count"></span>
        <button class="article__slider-button article__slider-button--next" (click)="nextSlide($event)">Next slide</button>
      </nav> -->
    </div>
    <p class="article__text">{{ content.primary.article_text[0].text }}</p>
    <blockquote class="article__blockquote">{{ content.primary.article_blockquote[0].text }}</blockquote>
    <div class="article__role-team-wrapper row">
      <div class="article__role-wrapper col-md-6" *ngIf="content.primary.article_role">
        <h3 class="article__box-subtitle">My Role</h3>
        <ul class="article__role-team-list">
          <li class="article__role-team-item" *ngFor="let role of content.primary.article_role">{{ role.text }}</li>
        </ul>
      </div>
      <div class="article__team-wrapper col-md-6" *ngIf="content.primary.article_design_team">
        <h3 class="article__box-subtitle">Design Team</h3>
        <ul class="article__role-team-list">
          <li class="article__role-team-item" *ngFor="let team of content.primary.article_design_team">{{ team.text }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="article__slider-column col-lg-7 offset-lg-1">
    <div class="article__slider-wrapper">
      <ul class="article__slider-list">
        <li class="article__slider-item" *ngFor="let slide of content.items">
          <div *ngIf="slide.slide_video.url" class="article__video-container">
            <video
              width="290"
              height="576"
              [poster]="slide.slide_image.url"
              autoplay
              loop
              muted
              playsinline>
              <source [src]="slide.slide_video.url">
            </video>
          </div>
          <img
            *ngIf="slide.slide_image.url && !slide.slide_video.url"
            [width]="slide.slide_image.dimensions.width / 2"
            [height]="slide.slide_image.dimensions.height / 2"
            [src]="slide.slide_image.url"
            [alt]="slide.slide_image.alt"
            class="article__slider-image">
        </li>
      </ul>
      <!-- <nav class="article__slider-controls">
        <button class="article__slider-button article__slider-button--prev" (click)="previousSlide($event)">Previous slide</button>
        <span class="article__slider-count"></span>
        <button class="article__slider-button article__slider-button--next" (click)="nextSlide($event)">Next slide</button>
      </nav> -->
    </div>
  </div>
  <a href="#" class="article__read-full-case read-more">Read full-case</a>
</article>
