<main class="about" *ngIf="content">
  <div class="about__title row">
    <div class="container">
      <div class="about__title-wrapper col-9">
        <h1 class="about__the-title text-with-square-dot" [innerHTML]="content['page_title'][0]['text']"></h1>
      </div>
    </div>
  </div>

  <div class="about__profile-picture-date">
    <div class="container">
      <div class="row">
        <div class="about__date-wrapper col">
          <span class="about__date">Updated - {{ content['post_date'] | date: 'LLL. yyyy' }}</span>
        </div>
        <div class="about__profile-picture-wrapper col-md-8">
          <img 
            [ngClass]="'about__profile-picture'"
            [src]="content['profile_image']['url']" 
            [alt]="content['profile_image']['alt']">
        </div>
      </div>
    </div>
  </div>

  <div class="about__profile-text">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2 class="about__profile-subtitle page-subtitle">Bruno Alves Fernandes</h2>
          <div class="about__profile-text-wrapper">
            <p *ngFor="let text of content['profile_text']" [innerHTML]="text['text']"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="about__skills">
    <div class="container">
      <h2 class="about__skills-subtitle page-subtitle page-subtitle--red">Skills</h2>
      <p class="about__skills-text" *ngFor="let text of content['skills_text']" [innerHTML]="text['text']"></p>
    </div>
  </div>
  
  <div class="about__photography">
    <div class="container">
      <h2 class="about__skills-subtitle page-subtitle page-subtitle--red">Urban photography {{ '{' }} with iPhone {{ '}' }}</h2>
      <ngx-masonry [useImagesLoaded]="true" [options]="masonryOptions">
        <div
          *ngFor="let item of content['urban_photography']"
          ngxMasonryItem 
          class="masonry-item about__photography-list-item">
          <img [src]="item.photography_image.url" [alt]="item.photography_image.alt">
        </div>
      </ngx-masonry>
    </div>
  </div>

  <div class="about__experience">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2 class="about__experience-subtitle page-subtitle">Background and Experience</h2>
          <div class="about__experience-wrapper">
            <p class="about__experience-text" *ngFor="let text of content['experience_text']" [innerHTML]="text['text']"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="about__life-purpose">
    <div class="container">
      <div class="row">
        <div class="col-md-7 ml-auto">
          <h2 class="about__life-purpose-subtitle page-subtitle">Life Purpose</h2>
          <div class="about__life-purpose-wrapper">
            <p class="about__life-purpose-text" *ngFor="let text of content['purpose_text']" [innerHTML]="text['text']"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
