<main class="about">
  <div class="about__title row">
    <div class="about__title-wrapper col-9">
      <h1 class="about__the-title text-with-square-dot">Self knowledge is the key to success</h1>
    </div>
  </div>

  <div class="about__profile-picture-date row">
    <div class="about__date-wrapper col">
      <span class="about__date">Updated - Sept. 2019</span>
    </div>
    <div class="about__profile-picture-wrapper col col-auto">
      <img src="http://placehold.it/728x463" alt="">
    </div>
  </div>

  <div class="about__profile-text row">
    <div class="col-md-8">
      <h2 class="about__profile-subtitle page-subtitle">Bruno Alves Fernandes</h2>
      <div class="about__profile-text-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur error nostrum dolore quos harum fugit et! Tenetur quia, consectetur eaque quos fugiat nostrum, placeat sapiente ratione molestiae esse ut?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur error nostrum dolore quos harum fugit et! Tenetur quia, consectetur eaque quos fugiat nostrum, placeat sapiente ratione molestiae esse ut?</p>
      </div>
    </div>
  </div>
  
  <div class="about__skills">
    <h2 class="about__skills-subtitle page-subtitle page-subtitle--red">Skills</h2>
    <p class="about__skills-text">Product Design, Agile, Ux Research, Ux Strategy, Data Analysis, Business, Visual Design, Prototyping and Leadership.</p>
  </div>
  
  <div class="about__photography">
    <h2 class="about__skills-subtitle page-subtitle page-subtitle--red">Urban photography with iPhone</h2>
    <ul class="about__photography-list">
      <li class="about__photography-list-item">
      </li>
    </ul>
  </div>

  <div class="about__experience row">
    <div class="col-md-8">
      <h2 class="about__experience-subtitle page-subtitle">Background and Experience</h2>
      <div class="about__experience-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet ea distinctio dicta autem deleniti eligendi doloribus odit velit! Eaque excepturi quidem culpa inventore fugiat quod quos doloribus. Delectus, natus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet ea distinctio dicta autem deleniti eligendi doloribus odit velit! Eaque excepturi quidem culpa inventore fugiat quod quos doloribus. Delectus, natus!</p>
      </div>
    </div>
  </div>
  
  <div class="about__life-purpose row">
    <div class="col-md-8">
      <h2 class="about__life-purpose-subtitle page-subtitle">Life Purpose</h2>
      <div class="about__life-purpose-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet ea distinctio dicta autem deleniti eligendi doloribus odit velit! Eaque excepturi quidem culpa inventore fugiat quod quos doloribus. Delectus, natus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eveniet ea distinctio dicta autem deleniti eligendi doloribus odit velit! Eaque excepturi quidem culpa inventore fugiat quod quos doloribus. Delectus, natus!</p>
      </div>
    </div>
  </div>
</main>
