@import "variables";

.main-wrapper {
  padding-top: 60px;
  padding-bottom: 116px;
}

.page-subtitle {
  font-size: 24px;
  margin-bottom: 32px;
}

.read-more {
  color: $wild_sand;
  display: flex;
  align-items: center;
  font-weight: bold;

  &::after {
    content: "";
    background-image: url("assets/images/arrow.svg");
    background-repeat: no-repeat;
    width: 43px;
    height: 16px;
    display: block;
    margin-left: 25px;
    transition: transform 300ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(5px);
    }
  }
}
