@import "variables";
@import "~bootstrap/scss/bootstrap-grid.scss";

body {
  &.about {
    background-color: $alabaster;
    color: $cod_gray;
  }
}

.main-wrapper {
  padding: 205px 0 116px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding: 175px 0 30px;
  }
}

.page-subtitle {
  font-size: 32px;
  margin-bottom: 46px;
  font-weight: 500;

  &--red {
    color: $torch_red;
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    margin-bottom: 28px;
  }

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

.read-more {
  color: $wild_sand;
  display: flex;
  align-items: center;
  font-weight: 500;

  &::after {
    content: "";
    background-image: url("assets/images/arrow.svg");
    background-repeat: no-repeat;
    width: 43px;
    height: 16px;
    display: block;
    margin-left: 25px;
    transition: transform 300ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(5px);
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }

  @include media-breakpoint-down(md) {
    color: $tundora;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

    &::after {
      filter: grayscale(1);
    }
  }
}

.text-with-square-dot {
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: baseline;
    background: $torch_red;
  }

  @include media-breakpoint-down(md) {
    &::after {
      width: 15px;
      height: 15px;
    }
  }
}
